<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Public Catalog</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
    <div class="page-container">
        <div class="wrapper">
            <div class="topnav">
                <p>Abington Senior High School</p>
            </div>

            <div class="header">
                <p>Course Catalog</p>
            </div>
            <div class="container">
                <div class="mainArea">
                    <div class="mainSpace">
                        <form method="post" action="/catalog" id="search">

                            <div class="search_box">
                                <input type="text" class="input" placeholder="Search..." name="searchBar">

                                <div class="btn">
                                    <button name="searchButton" type="submit" class="fas fa-search"></button>
                                    <!--https://fontawesome.com/v4.7/icon/search-->
                                </div>
                            </div>

                        </form>

                        <div class="results">
                            <table>

                                {%for item in ranges%}
                                <tr>
                                    <td>
                                        <div style="display: flex; justify-content: space-between;">
                                            <div class="fa fa-plus"></div>
                                            <div class="course-name">{{results['longDescription'].iloc[item]}}</div>
                                        </div>
                                        <div class="descriptions">
                                            <div>Honors</div>
                                            <div>10 credits</div>
                                            <div>Computer Science Pathway</div>
                                            <div>
                                                <button class="viewDescriptionBtn">
                                                    View Description
                                                    <i class="fa fa-caret-down" style="margin-left:5px;"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="descriptions">
                                            <div>{{results['description'].iloc[item]}}</div>
                                            <!--
                                            <div>Credits: {{results['credits'].iloc[item]}}</div>
                                            <div>Pathway</div>
                                            <div>5 days/week</div>
                                            <div>Department: {{results['dept'].iloc[item]}}</div>
                                            -->

                                        </div>
                                    </td>
                                </tr>
                                {%endfor%}

                                {%if length == 0%}
                                <div>
                                    Keyword "{{searched}}" not found.
                                </div>
                                {%endif%}
                            </table>
                        </div>
                    </div>

                    <div class="sidebar">
                        <p>Filter by Category</p>

                        <button class="dropdown" id="pathwayBttn">
                            Pathway
                            <i class="fa fa-caret-down"></i>
                        </button>

                        <form method="post" action="/catalog" id="test">
                            <!--the post signal istn getting because checking the box isnt returning any sort of statement-->
                            <div class="dropdown-container" id="pathwayDDs">

                                <input type="checkbox" id="business" name="pathway" value="Business" onchange="this.form.submit()">
                                <label for="business" class="filterType">Business</label>

                                <input type="checkbox" id="compSci" name="pathway" value="Computer Science" onchange="this.form.submit()">
                                <label for="compSci" class="filterType">Computer Science</label>

                                <input type="checkbox" id="government" name="pathway" value="Government" onchange="this.form.submit()">
                                <label for="government" class="filterType">Government</label>

                                <input type="checkbox" id="health" name="pathway" value="Health" onchange="this.form.submit()">
                                <label for="health" class="filterType">Health Services</label>

                                <input type="checkbox" id="humanities" name="pathway" value="Humanities" onchange="this.form.submit()">
                                <label for="humanities" class="filterType">Humanities</label>

                                <input type="checkbox" id="manu" name="pathway" value="Manufacturing" onchange="this.form.submit()">
                                <label for="manu" class="filterType">Manufacturing</label>

                                <input type="checkbox" id="stem" name="pathway" value="STEM" onchange="this.form.submit()">
                                <label for="stem" class="filterType">STEM</label>

                                <input type="checkbox" id="scoSci" name="pathway" value="Social Science" onchange="this.form.submit()">
                                <label for="scoSci" class="filterType">Social Science</label>

                                <input type="checkbox" id="arts" name="pathway" value="Arts" onchange="this.form.submit()">
                                <label for="arts" class="filterType">Arts</label>

                                <input type="submit" name="thingy" />
                                <!--somehow need to bind the different forms of the search bar and the checkboxes-->

                            </div>
                        </form>

                        <button class="dropdown">
                            Days per Week
                            <i class="fa fa-caret-down"></i>
                        </button>

                        <div class="dropdown-container">

                            <input type="checkbox" id="two" name="two" value="2" onchange="this.form.submit()">
                            <label for="two" class="filterType">2</label>

                            <input type="checkbox" id="five" name="five" value="5" onchange="this.form.submit()">
                            <label for="five" class="filterType">5</label>

                        </div>

                        <button class="dropdown">
                            Course Level
                            <i class="fa fa-caret-down"></i>
                        </button>

                        <div class="dropdown-container">

                            <input type="checkbox" id="ap" name="ap" value="AP" onchange="this.form.submit()">
                            <label for="ap" class="filterType">AP</label>

                            <input type="checkbox" id="honors" name="honors" value="Honors" onchange="this.form.submit()">
                            <label for="honors" class="filterType">Honors</label>

                            <input type="checkbox" id="cp" name="cp" value="College Prep" onchange="this.form.submit()">
                            <label for="cp" class="filterType">College Prep</label>

                            <input type="checkbox" id="standard" name="standard" value="Standard" onchange="this.form.submit()">
                            <label for="standard" class="filterType">Standard</label>

                        </div>

                        <button class="dropdown">
                            Length
                            <i class="fa fa-caret-down"></i>
                        </button>

                        <div class="dropdown-container">

                            <input type="checkbox" id="semester" name="semester" value="Semester" onchange="this.form.submit()">
                            <label for="semester" class="filterType">Semester</label>

                            <input type="checkbox" id="fullYear" name="fullYear" value="Full Year" onchange="this.form.submit()">
                            <label for="fullYear" class="filterType">Full Year</label>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>Abington School District © 2022. All Rights Reserved.</p>
    </footer>

     <!--separate our js into separate file in order to maintain consistency?-->
    <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>

    <!--https://stackoverflow.com/questions/16323360/submitting-html-form-using-jquery-ajax-->
    <!--https://stackoverflow.com/questions/48595068/process-ajax-request-in-flask-->
    <!--how to use jquery and ajax for not refreshing on form submit-->

    <script type="text/javascript">
        $("#search").submit(function (event) {
            event.preventDefault();

            $.ajax({
                type: "POST",
                url: "/catalog",
                data: { "searchBar": document.getElementById("searchBar").value, "searchButton": "" },
                //contentType: "text",
                //use dataType to figure out what data you want back from the server
                success: function (response) {
                    alert(JSON.stringify(response));
                }
            });


        });

    </script>
    <!--https://www.tabnine.com/academy/javascript/get-value-of-input/-->
    <!--https://flask.palletsprojects.com/en/2.0.x/patterns/jquery/-->
    <!--https://stackoverflow.com/questions/37631388/how-to-get-data-in-flask-from-ajax-post-->
    <!--https://stackoverflow.com/questions/16323360/submitting-html-form-using-jquery-ajax-->
    <!--https://stackoverflow.com/questions/48595068/process-ajax-request-in-flask-->
    <!--https://stackoverflow.com/questions/14908864/how-can-i-use-data-posted-from-ajax-in-flask-->


    <script>
   
        <script>
            //VARIABLES
            var theseContainers = document.getElementsByClassName("dropdown-container");
            var dropdownBttns = document.getElementsByClassName("dropdown");
            const dropdownmMap = new Map();
            var filterTypes = document.getElementsByClassName("filterType");
            
            //SEARCH SEARCH BAR
            var searchBar = function (event) {
                event.preventDefault();
                alert($(event.currentTarget).html());
            }

            //CLICKING ON DROPDOWNS
            var onButtonClick = function (event) {
                var thisBttn = event.currentTarget;
                var container = dropdownmMap.get(thisBttn);
                $(container).toggle();
            };

            for (var i = 0; i < dropdownBttns.length; i++) {
                dropdownmMap.set(dropdownBttns[i], theseContainers[i]);
                dropdownBttns[i].addEventListener("click", onButtonClick);
            }
    </script>

</body>
</html>
