<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Public Catalog</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
    <div class="page-container">
        <div class="wrapper">
            <div class="topnav">
                <p>Abington Senior High School</p>
            </div>

            <div class="header">
                <p>Course Catalog</p>
            </div>
            <div class="container">
                <div class="mainArea">
                    <div class="mainSpace">

                        <form method="post" action="/catalog" id="search">

                            <div class="search_box">

                                <input type="text" class="input" placeholder="Search..." name="searchBar" id="searchBar">

                                <div class="btn">
                                    <button name="searchButton" type="submit" class="fas fa-search" id="searchButton"></button>
                                    <!--https://fontawesome.com/v4.7/icon/search-->
                                </div>
                            </div>

                        </form>

                        <template id="cont">
                            
                                <table>


                                    <tr>
                                        <td>
                                            <div style="display: flex; justify-content: space-between;">
                                                <div class="fa fa-plus"></div>
                                                <div class="course-name" id="course-name">##course name##</div>
                                            </div>
                                            <div class="descriptions">
                                                <div>Level</div>
                                                <div>Credits</div>
                                                <div>Pathway</div>
                                                <div>
                                                    <button class="viewDescriptionBtn">
                                                        View Description
                                                        <i class="fa fa-caret-down" style="margin-left:5px;"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="descriptions" id="description">##description##</div>
                                        </td>
                                    </tr>

                                    <!--need to come up with a new way to render result blocks, as well as null return-->
                                </table>
                            
                        </template>

                        <!--need a better way to render null return-->
                       

                        <div class="results" id="content">

                        </div>
                    </div>

                    <div class="sidebar">
                        <p>Filter by Category</p>

                        <button class="dropdown" id="pathwayBttn">
                            Pathway
                            <i class="fa fa-caret-down"></i>
                        </button>

                        <form action="/catalog" id="pathways">
                            
                            <div class="dropdown-container" id="pathwayDDs">
                                
                                <input type="checkbox" id="business" value="bisPath">
                                <label for="business" class="filterType">Business</label>

                                <input type="checkbox" id="compSci" value="csPath">
                                <label for="compSci" class="filterType">Computer Science</label>

                                <input type="checkbox" id="government" value="govPath">
                                <label for="government" class="filterType">Government</label>

                                <input type="checkbox" id="health" value="healthPath">
                                <label for="health" class="filterType">Health Services</label>

                                <input type="checkbox" id="humanities" value="humPath">
                                <label for="humanities" class="filterType">Humanities</label>

                                <input type="checkbox" id="manu" value="manuPath">
                                <label for="manu" class="filterType">Manufacturing</label>

                                <input type="checkbox" id="stem" value="stemPath">
                                <label for="stem" class="filterType">STEM</label>

                                <input type="checkbox" id="scoSci" value="socSciPath">
                                <label for="scoSci" class="filterType">Social Science</label>

                                <input type="checkbox" id="arts" value="visPath">
                                <label for="arts" class="filterType">Arts</label>

                            </div>
                        </form>

                        <button class="dropdown">
                            Department
                            <i class="fa fa-caret-down"></i>
                        </button>

                        <form action="/catalog" id="departments">
                            <div class="dropdown-container">
                                
                                <input type="checkbox" id="AR" value="AR">
                                <label for="AR" class="filterType">AR</label>

                                <input type="checkbox" id="TE" value="TE">
                                <label for="TE" class="filterType">TE</label>

                                <input type="checkbox" id="BU" value="BU">
                                <label for="BU" class="filterType">BU</label>

                                <input type="checkbox" id="EN" value="EN">
                                <label for="EN" class="filterType">EN</label>

                                <input type="checkbox" id="CS" value="CS">
                                <label for="CS" class="filterType">CS</label>

                                <input type="checkbox" id="HP" value="HP">
                                <label for="HP" class="filterType">HP</label>

                                <input type="checkbox" id="RD" value="RD">
                                <label for="RD" class="filterType">RD</label>

                                <input type="checkbox" id="SC" value="SC">
                                <label for="SC" class="filterType">SC</label>

                                <input type="checkbox" id="FL" value="FL">
                                <label for="FL" class="filterType">FL</label>

                                <input type="checkbox" id="MA" value="MA">
                                <label for="MA" class="filterType">MA</label>

                                <input type="checkbox" id="SS" value="SS">
                                <label for="SS" class="filterType">SS</label>

                                <input type="checkbox" id="MU" value="MU">
                                <label for="MU" class="filterType">MU</label>

                                <input type="checkbox" id="N/A" value="N/A">
                                <label for="N/A" class="filterType">N/A</label>

                            </div>
                        </form>
                        

                        <button class="dropdown">
                            Course Level
                            <i class="fa fa-caret-down"></i>
                        </button>

                        <div class="dropdown-container">

                            <input type="checkbox" id="ap" name="ap" value="AP">
                            <label for="ap" class="filterType">AP</label>

                            <input type="checkbox" id="honors" name="honors" value="Honors">
                            <label for="honors" class="filterType">Honors</label>

                            <input type="checkbox" id="cp" name="cp" value="College Prep">
                            <label for="cp" class="filterType">Standard / CP</label>

                        </div>

                        <button class="dropdown">
                            Length
                            <i class="fa fa-caret-down"></i>
                        </button>

                        <div class="dropdown-container">

                            <input type="checkbox" id="semester" name="semester" value="Semester">
                            <label for="semester" class="filterType">Semester</label>

                            <input type="checkbox" id="fullYear" name="fullYear" value="Full Year">
                            <label for="fullYear" class="filterType">Full Year</label>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>Abington School District © 2022. All Rights Reserved.</p>
    </footer>

     <!--separate our js into separate file in order to maintain consistency?-->
    <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>

    <script type="text/javascript">
        
        $("#search").submit(function (event) {

            event.preventDefault();

            $.ajax({

                type: "POST",
                url: "/catalog",
                data: { "searchBar": document.getElementById("searchBar").value, "searchButton": "" }
                

            }).done(function (response) {
                display(JSON.parse(response));          
            });
        });

     
        $("#pathways").on("change", "input:checkbox", function (event) {

            event.preventDefault();
            AJAX("pathways");
            
        });

        $("#departments").on("change", "input:checkbox", function (event) {

            event.preventDefault();
            AJAX("departments");

        });

        function AJAX(elementID) {
            var checked = "";
            var checkboxes = document.getElementById(elementID).querySelectorAll('input[type=checkbox]:checked');
            for (var i = 0; i < checkboxes.length; i++) checked += checkboxes[i].value + "#";

            $.ajax({

                type: "POST",
                url: "/catalog",
                data: { "selected": checked },
                
            }).done(function (response) {
                $("#content").html("");
                display(JSON.parse(response));
            });
        }

        function display(json) {
            //clear
            $("#content").html("");

            //var mainKeys = Object.keys(json);
            var subKeys = Object.keys(json['ID']);
            var temp = document.getElementsByTagName("template")[0];
            
            
            
            for (var s = 0; s < subKeys.length; s++) {
                console.log(json['longDescription'][subKeys[s]]);
                console.log(json['description'][subKeys[s]]);
                
                temp.innerHTML = temp.innerHTML.replace("##course name##", json['longDescription'][subKeys[s]]);
                temp.innerHTML = temp.innerHTML.replace("##description##", json['description'][subKeys[s]]);

                clon = temp.content.cloneNode(true);               
                document.getElementById("content").appendChild(clon);

                //maybe the dataset is too large??
                //this is a stupid ass fix but it works so whatever
                //"hi" breaks it
                temp.innerHTML = temp.innerHTML.replace(json['longDescription'][subKeys[s]], "##course name##");
                temp.innerHTML = temp.innerHTML.replace(json['description'][subKeys[s]], "##description##");
                
                //special characters in the name of the courses??
                //need new encoding type or a new way to reset the template clean
            }
   
        }
        
    </script>
   
    <script>
  
            //VARIABLES
            var theseContainers = document.getElementsByClassName("dropdown-container");
            var dropdownBttns = document.getElementsByClassName("dropdown");
            const dropdownmMap = new Map();
            var filterTypes = document.getElementsByClassName("filterType");

            //CLICKING ON DROPDOWNS
            var onButtonClick = function (event) {
                var thisBttn = event.currentTarget;
                var container = dropdownmMap.get(thisBttn);
                $(container).toggle();
            };

            for (var i = 0; i < dropdownBttns.length; i++) {
                dropdownmMap.set(dropdownBttns[i], theseContainers[i]);
                dropdownBttns[i].addEventListener("click", onButtonClick);
            }
    </script>

</body>
</html>
