<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Public Catalog</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
    <div class="page-container">
        <div class="wrapper">
            <div class="topnav">
                <p>Abington Senior High School</p>
            </div>

            <div class="header">
                <p>Course Catalog</p>
            </div>
            <div class="container">
                <div class="mainArea">
                    <div class="mainSpace">

                        <form method="post" action="/catalog" id="search">

                            <div class="search_box">
                                <!--remember to include ids in order for JS to reference objects and their data-->
                                <input type="text" class="input" placeholder="Search..." name="searchBar" id="searchBar">

                                <div class="btn">
                                    <button name="searchButton" type="submit" class="fas fa-search" id="searchButton"></button>
                                    <!--https://fontawesome.com/v4.7/icon/search-->
                                </div>
                            </div>

                        </form>

                        <div class="results">
                            <table>

                                
                                <tr>
                                    <td>
                                        <div style="display: flex; justify-content: space-between;">
                                            <div class="fa fa-plus"></div>
                                            <div class="course-name" id="course-name">course name</div>
                                        </div>
                                        <div class="descriptions">
                                            <div>Honors</div>
                                            <div>10 credits</div>
                                            <div>Computer Science Pathway</div>
                                            <div>
                                                <button class="viewDescriptionBtn">
                                                    View Description
                                                    <i class="fa fa-caret-down" style="margin-left:5px;"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="descriptions" id="description">description</div>
                                    </td>
                                </tr>
                                

                                

                                <!--need to come up with a new way to render result blocks, as well as null return-->
                            </table>
                        </div>
                        
                    </div>

                    <div class="sidebar">
                        <p>Filter by Category</p>

                        <button class="dropdown" id="pathwayBttn">
                            Pathway
                            <i class="fa fa-caret-down"></i>
                        </button>

                        <form method="post" action="/catalog" id="pathways">
                            
                            <div class="dropdown-container" id="pathwayDDs">
                                <!--maybe use an onchange thing within the ajax instead of form submit-->
                                <input type="checkbox" id="business" value="bisPath">
                                <label for="business" class="filterType">Business</label>

                                <input type="checkbox" id="compSci" value="csPath">
                                <label for="compSci" class="filterType">Computer Science</label>

                                <input type="checkbox" id="government" value="govPath">
                                <label for="government" class="filterType">Government</label>

                                <input type="checkbox" id="health" value="healthPath">
                                <label for="health" class="filterType">Health Services</label>

                                <input type="checkbox" id="humanities" value="humPath">
                                <label for="humanities" class="filterType">Humanities</label>

                                <input type="checkbox" id="manu" value="manuPath">
                                <label for="manu" class="filterType">Manufacturing</label>

                                <input type="checkbox" id="stem" value="stemPath">
                                <label for="stem" class="filterType">STEM</label>

                                <input type="checkbox" id="scoSci" value="socSciPath">
                                <label for="scoSci" class="filterType">Social Science</label>

                                <input type="checkbox" id="arts" value="visPath">
                                <label for="arts" class="filterType">Arts</label>

                                <!--somehow need to bind the different forms of the search bar and the checkboxes-->

                            </div>
                        </form>

                        <button class="dropdown">
                            Department
                            <i class="fa fa-caret-down"></i>
                        </button>

                        <div class="dropdown-container">
                            <!--remeber to include a form to submit-->
                            <input type="checkbox" id="two" name="two" value="2">
                            <label for="two" class="filterType">AR</label>

                            <input type="checkbox" id="five" name="five" value="5">
                            <label for="five" class="filterType">TE</label>

                            <input type="checkbox" id="five" name="five" value="5">
                            <label for="five" class="filterType">BU</label>

                            <input type="checkbox" id="five" name="five" value="5">
                            <label for="five" class="filterType">EN</label>

                            <input type="checkbox" id="five" name="five" value="5">
                            <label for="five" class="filterType">CS</label>

                            <input type="checkbox" id="five" name="five" value="5">
                            <label for="five" class="filterType">HP</label>

                            <input type="checkbox" id="five" name="five" value="5">
                            <label for="five" class="filterType">RD</label>

                            <input type="checkbox" id="five" name="five" value="5">
                            <label for="five" class="filterType">SC</label>

                            <input type="checkbox" id="five" name="five" value="5">
                            <label for="five" class="filterType">FL</label>

                            <input type="checkbox" id="five" name="five" value="5">
                            <label for="five" class="filterType">MA</label>

                            <input type="checkbox" id="five" name="five" value="5">
                            <label for="five" class="filterType">SS</label>

                            <input type="checkbox" id="five" name="five" value="5">
                            <label for="five" class="filterType">MU</label>

                            <input type="checkbox" id="five" name="five" value="5">
                            <label for="five" class="filterType">N/A</label>

                        </div>

                        <button class="dropdown">
                            Course Level
                            <i class="fa fa-caret-down"></i>
                        </button>

                        <div class="dropdown-container">

                            <input type="checkbox" id="ap" name="ap" value="AP">
                            <label for="ap" class="filterType">AP</label>

                            <input type="checkbox" id="honors" name="honors" value="Honors">
                            <label for="honors" class="filterType">Honors</label>

                            <input type="checkbox" id="cp" name="cp" value="College Prep">
                            <label for="cp" class="filterType">Standard / CP</label>

                        </div>

                        <button class="dropdown">
                            Length
                            <i class="fa fa-caret-down"></i>
                        </button>

                        <div class="dropdown-container">

                            <input type="checkbox" id="semester" name="semester" value="Semester">
                            <label for="semester" class="filterType">Semester</label>

                            <input type="checkbox" id="fullYear" name="fullYear" value="Full Year">
                            <label for="fullYear" class="filterType">Full Year</label>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>Abington School District © 2022. All Rights Reserved.</p>
    </footer>

     <!--separate our js into separate file in order to maintain consistency?-->
    <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>

    <!--https://stackoverflow.com/questions/16323360/submitting-html-form-using-jquery-ajax-->
    <!--https://stackoverflow.com/questions/48595068/process-ajax-request-in-flask-->
    <!--how to use jquery and ajax for not refreshing on form submit-->

    <script type="text/javascript">
        
        $("#search").submit(function (event) {

            event.preventDefault();

            $.ajax({

                type: "POST",
                url: "/catalog",
                data: { "searchBar": document.getElementById("searchBar").value, "searchButton": "" }
                //contentType: "application/json"
                //find a contentType that accounts for special characters such as '
                //use dataType to figure out what data you want back from the server

            }).done(function (response) {
                var json = JSON.parse(response)
                var mainKeys = Object.keys(json)
                var subKeys = Object.keys(json['ID'])


                var name = json[mainKeys[1]][subKeys[0]];
                var description = json[mainKeys[3]][subKeys[0]];

                var resultDiv = document.querySelector(".results");

                for (var i = 0; i < 3; i++) {
                    var clone = resultDiv.cloneNode(true);
                    document.body.appendChild(clone);
                }

                document.getElementById("course-name").innerHTML = name;
                document.getElementById("description").innerHTML = description;

                //alert(description);

                //working under the assumption that 'ID' will always be  valid key
                //alert(mainKeys + " " + subKeys);

                //for every single mainKey, there should be subKeys representing the different result objects
                //can iterate through mainKeys for every subKey to find the different values of the results
                //might need to recast response or something into something readable
                //create a function that can render a course block, add course data to said bloack, push to html
              
            });


        });

     
        $("#pathways").on("change", "input:checkbox", function (event) {

            event.preventDefault();
            var checked = "";
            var checkboxes = document.getElementById('pathways').querySelectorAll('input[type=checkbox]:checked');
            for (var i = 0; i < checkboxes.length; i++) checked += checkboxes[i].value + "#";
            

            $.ajax({

                type: "POST",
                url: "/catalog",
                data: { "selected": checked }
                //add "on" and "off" states to each checkbox?
                //don't want to have to grab every single thing individually
                //could make this a function
                //can you access all elements with the same Name??
                //document.getElementsByName()
                //run a for loop 
            }).done(function (response) {
                var json = JSON.parse(response)
                var mainKeys = Object.keys(json)
                var subKeys = Object.keys(json['ID'])
                alert(mainKeys + " " + subKeys);
            });
        });

    </script>
    <!--https://www.tabnine.com/academy/javascript/get-value-of-input/-->
    <!--https://flask.palletsprojects.com/en/2.0.x/patterns/jquery/-->
    <!--https://stackoverflow.com/questions/37631388/how-to-get-data-in-flask-from-ajax-post-->
    <!--https://stackoverflow.com/questions/16323360/submitting-html-form-using-jquery-ajax-->
    <!--https://stackoverflow.com/questions/48595068/process-ajax-request-in-flask-->
    <!--https://stackoverflow.com/questions/14908864/how-can-i-use-data-posted-from-ajax-in-flask-->


    <script>
  
            //VARIABLES
            var theseContainers = document.getElementsByClassName("dropdown-container");
            var dropdownBttns = document.getElementsByClassName("dropdown");
            const dropdownmMap = new Map();
            var filterTypes = document.getElementsByClassName("filterType");

            //CLICKING ON DROPDOWNS
            var onButtonClick = function (event) {
                var thisBttn = event.currentTarget;
                var container = dropdownmMap.get(thisBttn);
                $(container).toggle();
            };

            for (var i = 0; i < dropdownBttns.length; i++) {
                dropdownmMap.set(dropdownBttns[i], theseContainers[i]);
                dropdownBttns[i].addEventListener("click", onButtonClick);
            }
    </script>

</body>
</html>
