<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Request Courses</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://use.fontawesome.com/2361e506b1.js"></script>
</head>
<body>
    <div class="page-container">
        <div class="wrapper">

            <div class="topnav">
                <div class="ahs-logo">
                    <form method="post" action="/">
                        <input type="image" src="{{url_for('static', filename= 'images/mainLogo.png')}}" width="359.085" height="90.576" alt="logo">
                    </form>
                </div>
                <form method="post" action="/">
                    <input type="submit" value="Sign Out" class="logoutBtn" name="logoutBtn" />
                </form>
            </div>

            <div class="header">
                <div class="logo">
                    <img src="{{url_for('static', filename= 'images/horseLogo.png')}}" width="80" height="80" alt="logo">
                </div>
                <p style="font-size: 30px; position: fixed; left: 10px; top: 105px; z-index: 999; color: #761F33; font-family: Arial; width: 400px;">Review Courses</p>
            </div>

            <div class="container">

                <template id="cont">
                    <div style="margin-right:25px; margin-left:25px; font-size: 18px;">
                        <div class="choicesText">
                            <div>##name##</div>
                            <div>##credits##</div>
                        </div>
                    </div>
                </template>

                <div id="bttnBox" style="margin-top: 225px; width: 550px; height: unset; padding-bottom:40px;">
                    <!--make this into a template or something-->
                    <h1 style="margin-bottom:20px; margin-top:10px; text-align:center; font-size: 20px; padding-top:30px;">Review Your Selected Courses</h1>

                    <div class="results" id="results">

                    </div>

                    <!--<div id="requirements">
                        <h4>
                            Requirments:
                        </h4>
                        <ul id="requirementsList">

                        </ul>
                    </div>-->

                    <div style="margin-top:20px;">
                        <form action="/requests" id="return">
                            <input type="submit" value="Go Back" style="margin-left:; border:none;" class="scheduleRequestBtn" name="return" />
                        </form>

                        <form method="post" action="/requests">
                            <input type="submit" value="Submit Schedule Request" style="margin-left:; border:none;" class="scheduleRequestBtn" name="scheduleRequestBtn" />
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

            <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>

            <script type="text/javascript">
                //need initializing AJAX call
                var cartContents;
                var classDepartments = ["lol"];
                var requirements = ["English", "Mathematics", "Science", "Social Studies"];
                var reqirementPairs = new Map([
                    ["English", "EN"],
                    ["Mathematics", "MA"],
                    ["Science", "SC"],
                    ["Social Studies", "SS"],
                    ["Health", "HP"],
                    ["Physical Education", "HP"]
                ]);
                var gradeReqirements = new Map([]);
                //populate gradeRequirements
                for (var i = 0; i < requirements.length; i++) {
                    gradeReqirements.set(reqirementPairs.get(requirements[i]), false);
                }

                $.ajax({
                    type: "POST",
                    url: "/requests",
                    data: { "initialized": "1" }
                }).done(function (response) {
                    cartContents = response;
                    display(JSON.parse(response))
                    //console.log(cartContents);
                });

                $("#return").submit(function (event) {
                    event.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: "/requests",
                        data: { "return": '1' }
                    }).done(function (response) {
                        if (response.redirect) {
                            window.location.href = response.redirect;
                        }
                    });
                });

                function display(json) {
                    $("#results").html("");
                    var subKeys = Object.keys(json['ID']);
                    var temp = document.getElementById("cont");

                    for (var s = 0; s < subKeys.length; s++) {
                        var longDescription = json['longDescription'][subKeys[s]];
                        var creds = json['credits'][subKeys[s]];

                        //Get Departments
                        var dept = json['dept'][subKeys[s]];
                        classDepartments[s] = dept;

                        temp.innerHTML = temp.innerHTML.replace("##name##", longDescription);
                        temp.innerHTML = temp.innerHTML.replace("##credits##", creds);

                        document.getElementById("results").appendChild(temp.content.cloneNode(true));

                        temp.innerHTML = temp.innerHTML.replace(longDescription, "##name##");
                        temp.innerHTML = temp.innerHTML.replace(creds, "##credits##");
                    }

                    //Requirements
                    //console.log(classDepartments.toString());
                    for (var i = 0; i < requirements.length; i++) {
                        checkRequirement(reqirementPairs.get(requirements[i]));
                    }
                    //console.log([...gradeReqirements]);

                    //Display Requirements
                    var reqListHTML = document.getElementById("requirementsList");
                    for (var i = 0; i < requirements.length; i++) {
                        var node = document.createElement('li');
                        node.appendChild(document.createTextNode(requirements[i]));
                        if (gradeReqirements.get(reqirementPairs.get(requirements[i])) == true) {
                            console.log("you have: " + requirements[i]);
                            node.style.color = "green";
                        }
                        reqListHTML.appendChild(node);
                    }

                }

                function checkRequirement(requirement) {
                    if (classDepartments.includes(requirement)) {
                        gradeReqirements.set(requirement, true);

                    }
                }

            </script>

</body>
</html>
